
body {
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding: 20px;
  border: 1px solid #ddd;
}
.image-container {
  position: relative;
  width: 30%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}



img {
  display: block;
  max-width: 15%;
  height: auto;
}
div {
  position: center;
  top: 40%;
  left: 50%;
  
}
h1{
  text-align: center;
  color: #333;
}
.wrapper {
  display: flex;
  align-items: center;
  border: 1px solid #ccc; 
  padding: 10px; 
}


img {
  margin-right: 20px;
  border-radius: 50%;
  
}

.text {
  display: flex;
  flex-direction: column;
}
a {
  color: #000000;
  text-decoration: none;
}
a:visited {
  color: rgb(0, 0, 0);
}
a:hover {
  color: #666;
}

section {
  padding: 50px;
  background-color: #ffffff;
  text-align: center;
}

p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 30px;
  text-align: left;

}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #fffb0000;
  color: #fff;
}

#image img {
  display: block; 
  margin: 0 auto; 
}

#paragraph{
  text-align: left;
}





/* Make website responsive

/* For devices with screen width up to 768px, such as tablets */
@media (max-width: 768px) {
  /* Adjust font sizes */
  body {
    font-size: 16px;
  }
  /* Adjust layout using a responsive grid system */
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 768px;
    padding: 0 10px;
  }
  .item {
    width: 100%;
  }
  /* Adjust image sizes */
  img {
    max-width: 100%;
    height: auto;
  }
}

/* For devices with screen width up to 480px, such as cellphones */
@media (max-width: 480px) {
  /* Adjust font sizes */
  body {
    font-size: 14px;
  }
  /* Adjust layout using a responsive grid system */
  .container {
    max-width: 480px;
    padding: 0;
  }
  .item {
    width: 100%;
  }
}

