
body {
  background-color: #f2f2f2;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding: 20px;
  border: 1px solid #ddd;
}
.image-container {
  position: relative;
  width: 30%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.image-text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 30px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.image-container:hover .image-text {
  opacity: 1;
}

img {
  display: block;
  max-width: 30%;
  height: auto;
}
div {
  position: center;
  top: 40%;
  left: 50%;
  
}
h1{
  text-align: center;
  color: #333;
}
.wrapper {
  display: flex;
  align-items: center;
  border: 1px solid #ccc; 
  padding: 10px; 
}


img {
  margin-right: 20px;
}

.text {
  display: flex;
  flex-direction: column;
}
a {
  color: #000000;
  text-decoration: none;
}
a:visited {
  color: rgb(0, 0, 0);
}
a:hover {
  color: #666;
}

section {
  padding: 50px;
  background-color: #ffffff;
  text-align: center;
}


section h2 {
  font-size: 36px;
  margin-bottom: 30px;
}

section p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 30px;
}

section a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ffffff;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

section a:hover {
  background-color: #333;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #ffffff51;
  color: #fff;
}

#image img {
  display: block; 
  margin: 0 auto; 
}





/* Make website responsive

/* For devices with screen width up to 768px, such as tablets */
@media (max-width: 768px) {
  /* Adjust font sizes */
  body {
    font-size: 16px;
  }
  /* Adjust layout using a responsive grid system */
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 768px;
    padding: 0 10px;
  }
  .item {
    width: 100%;
  }
  /* Adjust image sizes */
  img {
    max-width: 100%;
    height: auto;
  }
}

/* For devices with screen width up to 480px, such as cellphones */
@media (max-width: 480px) {
  /* Adjust font sizes */
  body {
    font-size: 14px;
  }
  /* Adjust layout using a responsive grid system */
  .container {
    max-width: 480px;
    padding: 0;
  }
  .item {
    width: 100%;
  }
}

